<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://api.fontshare.com/v2/css?f[]=clash-grotesk@200,300,400,500,600,700&display=swap" rel="stylesheet">
    <title></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#F7F7F9] overflow-x-hidden" style="font-family: 'Clash Grotesk', sans-serif;">
    <header class="mt-5 z-40  ">
        <nav>
            <div class="container mx-auto px-5 md:px-5">
                <div class="py-2 flex items-center flex-wrap justify-between lg:flex-nowrap">
                    <div class="w-full flex items-center justify-between lg:w-auto">
                        <a href="">
                            <span class="text-3xl font-semibold">Calibr8</span>
                        </a>
                        <button class="p-2 lg:hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-700 dark:text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5" />
                            </svg>
                        </button>
                    </div>
                    <div class="pl-12 ml-10 hidden lg:block lg:py-0">
                        <ul class=" text-gray-600 lg:flex lg:gap-12 lg:space-y-0 ">
                            <li>
                                <a href="{% url 'scheduling' %}">Schedules</a>
                            </li>
                            <li>
                                <a href="">Preferences</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}" class="mt-2 -top-[1px] bg-[#3772FF] px-10 py-2 rounded-full text-white">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    </header>
    <div class="flex flex-cols mt-5">
        <div class="grid">
    <h1 class="mx-[120px] flex justify-start items-center  text-4xl mt-2 text-gray-700">Calibr8 Your Life.</h1>
    <button class="mx-[120px] mt-10 min-w-[100px] bg-[#3772FF] px-10 py-2 rounded-full text-white">Connect to Google Calender</button>

<div class="mx-[120px] mt-6">
    <form class=" rounded  pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-gray-700 text-xl  mb-2" for="todoist-api-key">
                Todoist API Key
            </label>
            <input class="bg-[#D9D9D9] rounded-[13px] w-[40vw] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="todoist-api-key" type="text" placeholder="Todoist API Key">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-xl mb-2" for="work-style">
                What is your work style?
            </label>
            <input class="bg-[#D9D9D9] rounded-[13px] w-[40vw] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="work-style" type="text" placeholder="What is your work style?">
        </div>
        <div class="flex justify-between mt-4">
            <button class="bg-transparent border border-black px-10 py-2 rounded-full text-black flex items-center" type="button">Save</button>
           
        </div>
    </form>
</div>
</div>
<div class="px-5 py-5 bg-[#D9D9D9] relative mr-5 rounded-[54px] w-full">
    <div class="flex flex-cols justify-center items-center py-10">
    <div class="grid flex flex-cols justify-center items-center py-10">
   <div class="flex flex-cols justify-center items-center "> <img src="https://example.com/profile-pic.jpg"  class=" flex flex-cols justify-center items-center w-24 h-24 bg-gray-400 rounded-full"></div>
    <h2 class="text-3xl text-center flex flex-cols justify-center mt-4 items-center font-semibold">John Doe</h2>
    <h2 class="text-3xl text-center flex flex-cols justify-center  items-center ">Sr. Software Developer</h2>
    
    <div class="flex flex-cols justify-between items-center "> 
        <div class="font-semibold">NYC,USA</div>
        <div class="font-semibold">@ Bloom Co.</div>
    </div>
    
    <div class="flex flex-cols justify-center items-center mt-10 ">
        <div class="absolute bottom-0">
            <div class="flex flex-cols w-full">
        <button class="bg-black px-10 py-2 w-1/2 h-20   rounded-bl-[54px] w-[21vw] text-white">Edit Personal Details</button>
        <button class="bg-blue-500 px-10 py-2 rounded-br-[54px] w-[20vw] text-white">Contact Support</button>
    </div></div>
</div>
    </div></div>    
</div>

</div>
<div class="mx-[120px] mt-5 w-/5  ">
    <form class=" rounded  pt-6 pb-8 mb-4">
        <div class="flex justify-between mb-4">
            <div class="w-1/3 mr-2">
                <label class="block text-gray-700 text-xl  mb-2" for="breakfast-time">
                    Breakfast Time
                </label>
                <input class="bg-[#D9D9D9] rounded-[13px] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="breakfast-time" type="time" placeholder="Breakfast Time">
            </div>
            <div class="w-1/3 mx-2">
                <label class="block text-gray-700 text-xl mb-2" for="lunch-time">
                    Lunch Time
                </label>
                <input class="bg-[#D9D9D9] rounded-[13px] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="lunch-time" type="time" placeholder="Lunch Time">
            </div>
            <div class="w-1/3 ml-2">
                <label class="block text-gray-700 text-xl mb-2" for="dinner-time">
                    Dinner Time
                </label>
                <input class="bg-[#D9D9D9] rounded-[13px] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="dinner-time" type="time" placeholder="Dinner Time">
            </div>
        </div>
        <div class="flex justify-between mt-4">
            <button class="bg-transparent border border-black px-10 py-2 rounded-full text-black flex items-center" type="button">Save</button>
        </div>
    </form>
</div>






</div></div>

    </body>
    </html>