<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://api.fontshare.com/v2/css?f[]=clash-grotesk@200,300,400,500,600,700&display=swap" rel="stylesheet">
    <title></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#F7F7F9] overflow-x-hidden" style="font-family: 'Clash Grotesk', sans-serif;">
    <header class="mt-5 z-40 absolute top-0 left-0 right-0">
        <nav>
            <div class="container mx-auto px-12 md:px-12">
                <div class="py-2 flex items-center flex-wrap justify-between lg:flex-nowrap">
                    <div class="w-full flex items-center justify-between lg:w-auto">
                        <a href="">
                            <span class="text-3xl font-semibold">Calibr8</span>
                        </a>
                        <button class="p-2 lg:hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-700 dark:text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5" />
                            </svg>
                        </button>
                    </div>
                    <div class="pl-12 ml-10 hidden lg:block lg:py-0">
                        <ul class=" text-gray-600 lg:flex lg:gap-12 lg:space-y-0 ">
                            <li>
                                <a href="">Home</a>
                            </li>
                            <li>
                                <a href="">About</a>
                            </li>
                            <li>
                                <a href="">Pricing</a>
                            </li>
                            <li>
                                <a href="login.html" class=" absolute -right-[2px] mt-2 -top-[1px] bg-[#3772FF] px-10 py-2 rounded-full text-white">Try Now</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="relative z-0">
        <div class="w-[373px] absolute h-[373px] bg-[#41E2BA] -mt-32 rounded-full filter blur-[100px] z-0"></div>
        <div class="w-[373px] absolute mt-2 -ml-32 h-[373px] bg-[#F7E733] rounded-full filter blur-[100px] z-0"></div>
    </div>
    <div class="flex flex-cols mx-5 gap-5 mt-32 z-10 absolute">
        <div class="w-[40vw] h-[80vh] flex flex-cols gap-5 justify-center items-center">
            <div class="grid gap-5">
                <div class="text-6xl font-semibold">Scheduling <br>Made Easy.</div>
                <div class="text-2xl">Optimise your time with us.</div>
                <div class="h-[50px] w-full bg-transparent "></div>
                <button class="bg-[#3772FF] px-10 py-2 text-xl rounded-full text-white">Get Started Today</button>
                <div class="h-[50px] w-full bg-transparent "></div>
                <div class="text-sm w-80 text-justify text-[#828282]">Effortlessly manage your time and tasks with our intelligent calendar agent. It analyzes your schedule and to-do list, prioritizes tasks, and automatically organizes events into optimal time slots. Say goodbye to scheduling conflicts and missed deadlines—our tool keeps you on track, ensuring you make the most</div>
            </div>
        </div>
        <div class="w-[60vw] h-[80vh] overflow-hidden">
            <div class="flex flex-cols gap-5">
                <div class="grid gap-5">
                    <div class="w-[25vw] h-[40vh] bg-[url('https://images.unsplash.com/photo-1704440305758-4adae3af55ed?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover rounded-[54px]"></div>
                    <div class="w-[25vw] h-[50vh] bg-[url('https://plus.unsplash.com/premium_photo-1663126649902-da96ec858a02?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover rounded-[54px]"></div>
                </div>
                <div class="w-[80vw] h-[90vh] bg-[url('https://images.unsplash.com/photo-1491975474562-1f4e30bc9468?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover rounded-[54px]"></div>
            </div>
        </div>
    </div>
    <section class="px-32 py-20 absolute mt-[100vh]">
        <div class="grid gap-5">
            <div class="text-[36px] font-semibold">About Us</div>
            <div class="text-[28px] ">Calibr8 is your personal productivity companion, designed to help you optimize your time and achieve your goals. By intelligently organizing your schedule and to-do list, Calibr8 ensures that you’re always working on the right task at the right time. Whether it’s for work, study, or personal projects, Calibr8 keeps you focused, efficient, and stress-free. Say goodbye to chaos and hello to effortless productivity with Calibr8.</div>
        </div>
    </section>

<footer class="absolute bottom-0 py-5 text-center text-gray-600 text-sm w-full">
  Made with ❤️ by Pixel_Pushers
</footer>







</body>
</html>
